@mixin row($horizontal: flex-start, $vertical: flex-start){
    display: flex;
    flex-direction: row;
    justify-content: $horizontal;
    align-items: $vertical;
}

@mixin column($horizontal: flex-start, $vertical: flex-start){
    display: flex;
    flex-direction: column;
    justify-content: $vertical;
    align-items: $horizontal;
}